/* modal styling */
.modal-open{
    overflow:visible ;
}
/*.modal-open .modal{overflow-x:hidden;overflow-y:visible }*/

.modal.fade.in {overflow-x:hidden; overflow-y:visible;}

.modal-scrollbar-measure {position:absolute;top:-9999px;width:50px;height:50px;overflow:visible}

/*modal form*/

.contact-detail{padding-top:4%}
.product-info{padding-top: 2%}

@media screen and (max-width: 413px) {
  label{
    font-size: .8em;
  }
}

form {
  position: relative;
}

.breadcrumb {
  padding: 0px;
  background: transparent;
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 4px;
  text-align: center;
}

.breadcrumb li.completed span {
  color: #009688;
  font-size: 1.6em;
}

.form-control:focus {
  border-color: #009788;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.rest-body {
  font-family: 'khula';
}


/*card styling*/

@media all and (max-width: 1200px) {
  /* screen size until 1200px */
  .card-title a {
    font-size: 1em;
    /* 1.5x default size */
  }
  .lead {
    font-size: 1em;
    /* 1.5x default size */
  }
}

@media all and (max-width: 1000px) {
  /* screen size until 1000px */
  .card-title a {
    font-size: .6em;
    /* 1.2x default size */
  }
  .lead {
    font-size: 1em;
    /* 1.5x default size */
  }
}

@media all and (max-width: 764px) {
  /* screen size until 1000px */
  .card-title a {
    font-size: 1em;
    /* 1.2x default size */
  }
}

@media all and (max-width: 500px) {
  /* screen size until 500px */
  .card-title a {
    font-size: 1.1em;
    /* 0.8x default size */
  }
  .lead {
    font-size: 1em;
    /* 1.5x default size */
  }
}

h3 {
  font-weight: bold;
}

h2 {
  font-weight: bolder;
}

.catalog {
  margin-left: 6%;
  width: 80%;
}

.text-center>a {
  color: #009688
}

.btinqr {
  border: 2px solid #009688;
  background-color: #F7F7F7;
  padding: 8px;
  padding-left: 85px;
  padding-right: 85px;
  transition: 0.5s;
  font-weight: bold;
  border-radius:5px;
}

.btinqr:hover {
  border: 2px solid #009688;
  background-color: #009688;
  display: inline-block;
  color: white;
  font-weight: bold;
}
.btncollapse {
    border: 2px solid #009688;
    background-color: #F7F7F7;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-weight: bold;
    position: relative;
    left: 14px;
    top: 6px;
}
.btncollapse:hover {
    border: 2px solid #009688;
    background-color: #009688;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.table{
    margin-top: 20px;
}

hr {
    height: 3px;
    margin-left: 15px;
    margin-bottom: 14px;
    position: relative;
    right: 15px;
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(18, 176, 126, .8), rgba(23, 216, 155, .6), rgba(255, 255, 255, 0));
}

.h2title {
    padding-top: 8px;
   
    font-family: 'Laila' !important;
    
}
  .info{
    text-align: justify;
}

.s2 {
  padding-top: 6px;
  font-weight: bolder;
  font-size: 16px;
}

.lead {
  font-weight: 1.1em;
}

.dropdown-toggle {
  margin-left: 5%;
  font-size: 1.2em;
}

.card {
  font-family: 'Cambay';
  display: block;
  line-height: 1.42857143;
  background-color: #f8f8f8;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
  margin-bottom: 25px;
   -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.card1 {
    font-family: 'Cambay';
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.img-card1 {
    width: 100%;
    height: 375px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card1 img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    transition: all .25s ease;
}
.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
  transition: all .25s ease;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-title {
  font-family: 'Laila';
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.35em;
  background-color: #00c1af;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/*Glyphicon color*/

.green {
  color: #009788;
}

/*viewmore page styling */
.btnview {
    border: 2px solid #009688;
    background-color: #F7F7F7;
    padding: 12px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 2px;
    transition: 0.5s;
    font-weight: bold;
    position: center;
    margin-bottom: 50px;
    border-radius:5px;
}

.btnview:hover {
    border: 2px solid #009688;
    background-color: #009688;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.btncollapse {
    border: 2px solid #009688;
    background-color: #F7F7F7;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-weight: bold;
    position: relative;
    left: 14px;
    top: 6px;
}
.btncollapse:hover {
    border: 2px solid #009688;
    background-color: #009688;
    display: inline-block;
    color: white;
    font-weight: bold;
}


hr {
    height: 3px;
    margin-left: 15px;
    margin-bottom: 14px;
    position: relative;
    right: 15px;
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(18, 176, 126, .8), rgba(23, 216, 155, .6), rgba(255, 255, 255, 0));
}

.h2title {
    padding-top: 8px;
}

.card1 {
    font-family: 'Cambay';
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    transition: box-shadow .25s;
}

.img-card1 {
    width: 100%;
    height: 375px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card1 img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    transition: all .25s ease;
}

/* viewmore page ending*/

.product {
  font-size: 15px;
  padding-top: 4px;
  font-weight: bold;
  padding-bottom: 0px;
  text-align: center;
  color: white;
}

.card-title a {
  font-family: 'Cambay';
  color: #fff;
}

.card-title a:hover {
  font-family: 'Cambay';
  color: #fff;
  text-decoration: none;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}

.card-read-more a:hover {
  color: white;
  background: rgb(51, 122, 183)
}

.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase
}


/* dropdown navbar styling */

.dropdown-large {
  position: static !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

li.dropdown.dropdown-large>a {
  border-radius: 2px;
  background: rgb(248, 248, 248);
}

.dropdown-menu-large {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
}

.dropdown-menu-large>li>ul {
  padding: 0;
  margin: 0;
}

.dropdown-menu-large>li>ul>li {
  list-style: none;
}

.dropdown-menu-large>li>ul>li>a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.dropdown-menu-large>li ul>li>a:hover,
.dropdown-menu-large>li ul>li>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu-large .disabled>a:hover,
.dropdown-menu-large .disabled>a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
  color: #009688;
  font-size: 18px;
  font-weight:bold;
  display: block;
  padding: 3px 15px;
  clear: both;
  
  line-height: 1.428571429;
  white-space: normal;
}

@media screen and (max-width: 767px) {
  .card {
  font-family: 'Cambay';
  display: block;
  line-height: 1.42857143;
  background-color: #f8f8f8;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
  margin-bottom: 25px;
     -webkit-transition: none;
    -webkit-transform: scale(1); 
    -ms-transition: none;
    -ms-transform: scale(1); 
    -moz-transition: none;
    -moz-transform: scale(1);
    transition: none;
    transform: scale(1);   
}
  .card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   z-index: 2;
    -webkit-transition: none;
    -webkit-transform: scale(1);
    -ms-transition: none;
    -ms-transform: scale(1);   
    -moz-transition: none;
    -moz-transform: scale(1);
    transition: none;
    transform: scale(1);
}


  .dropdown-menu-large {
    margin-left: 0;
    margin-right: 0;
  }
  .dropdown-menu-large>li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large>li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}


/*nav bar styling*/

.navbar {
  padding-left: 10px;
  border: none !important;
  border-radius: 0px !important; 
 
}

.navbar.navbar-inverse a {
  color: white !important;
}

.navbar-inverse {
  background: #009688 !important;
}

.navbar-brand {
  position: relative;
  font-size: 18px !important;
  font-weight: bold;
  z-index: 2;
 
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
  transition: transform 0.3s;
}

.navbar .navbar-collapse {
  position: relative;
}

.navbar .navbar-collapse .navbar-right>li{
  font-size: 14px !important;
  font-weight: bold;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
  background-color: #009688;
}

.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}

.nav-collapse>li {
  float: right;
}

.btn.btn-circle {
  color: #009688;
  background: #009688;
  border-radius: 50px;
  border-width: 2px;
  border-color: white;
  font-size: 14px !important;
  font-weight: bold;
}

.btn-danger {
  display: inline-block;
}
.btn-green{
  background: #009688;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}
.btn.btn-outline {
  background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
  color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
  height: auto !important;
  transition: transform 0.3s;
  transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
  transform: translate(0px, 0px);
}

@media screen and (max-width: 767px) {
  .btn-danger{
    
    width: 100%;
  }
  .navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar .nav-collapse {
    margin: 7.5px auto;
    padding: 0;
  }
  .navbar .nav-collapse .navbar-form {
    margin: 0;
  }
  .nav-collapse>li {
    float: none;
  }
  .navbar.navbar-default .nav-collapse,
  .navbar.navbar-inverse .nav-collapse {
    transform: translate(-100%, 0px);
  }
  .navbar.navbar-default .nav-collapse.in,
  .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
  }
  .navbar.navbar-default .nav-collapse.slide-down,
  .navbar.navbar-inverse .nav-collapse.slide-down {
    transform: translate(0px, -100%);
  }
  .navbar.navbar-default .nav-collapse.in.slide-down,
  .navbar.navbar-inverse .nav-collapse.in.slide-down {
    transform: translate(0px, 0px);
  }
}

/* footer styling */

footer {
  background: #009688;
  color: white;
  font-size: 1.2em;
}


/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #000;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.icon {
  border: solid 3px white;
}
/* scroll top styling */

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #BD3518;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-radius: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #888888;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}