/*nav bar styling*/

.navbar {
    padding-left: 10px;
    border: none !important;
    border-radius: 0px !important;
}

.navbar.navbar-inverse a {
    color: white !important;
}

.navbar-inverse {
    background: #009688 !important;
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #009688;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    color: #009688;
    background: #009688;
    border-radius: 50px;
    border-width: 2px;
    border-color: white;
}

.btn-danger {
    display: inline-block;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse, .navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in, .navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    .navbar.navbar-default .nav-collapse, .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in, .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down, .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down, .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
}

.btinqr {
    border: 2px solid #009688;
    background-color: #F7F7F7;
    padding: 12px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 2px;
    transition: 0.5s;
    font-weight: bold;
    position: center;
    margin-bottom: 50px;
}

.btinqr:hover {
    border: 2px solid #009688;
    background-color: #009688;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.btncollapse {
    border: 2px solid #009688;
    background-color: #F7F7F7;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    transition: 0.5s;
    font-weight: bold;
    position: relative;
    left: 14px;
    top: 6px;
}
.btncollapse:hover {
    border: 2px solid #009688;
    background-color: #009688;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.table{
    margin-top: 20px;
}

hr {
    height: 3px;
    margin-left: 15px;
    margin-bottom: 14px;
    position: relative;
    right: 15px;
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(18, 176, 126, .8), rgba(23, 216, 155, .6), rgba(255, 255, 255, 0));
}

.h2title {
    padding-top: 8px;
}

.card1 {
    font-family: 'Cambay';
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    transition: box-shadow .25s;
}

.img-card1 {
    width: 100%;
    height: 375px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

.img-card1 img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    transition: all .25s ease;
}

.card-content {
    padding: 10px;
    text-align: left;
}

.card-title {
    font-family: 'Laila';
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.35em;
    background-color: #009688;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product {
    font-size: 22px;
    padding-top: 4px;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

.card-title a {
    font-family: 'Cambay';
    color: #fff;
    text-decoration: none !important;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
}

.card-read-more a:hover {
    color: white;
    background: rgb(51, 122, 183)
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
}


/* .media-body{
    padding: 40px;
    font-size: 18px;
} */



/* footer styling */

footer {
  background: #009688;
  color: white;
  font-size: 1.2em;
}


/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #000;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.icon {
  border: solid 3px white;
}


/* scroll top styling */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #009688;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: #888888;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}